* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sim-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 80vh; /* Ensures the page takes at least full height */
}

.form-layout {
    display: flex;
    width: 98%; /* Full width */
}

.grey-container {
    flex: 1; /* Takes up 50% of the width */
    padding: 40px;
    background-color: #f5f5f5; /* Light grey background for the container */
    border-radius: 15px; /* Rounded corners for the container */
    margin-left: 20px; /* Spacing between the upload and form sections */
}

.form-container {
    flex: 1; /* Takes up 50% of the width */
    padding: 20px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 15px; /* Rounded corners for the upload container */
    margin-left: 20px; /* Spacing between the upload and form sections */
    background-color: #fff; /* White background for contrast */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.simplify-button {
    width: 100%;
    padding: 10px;
    background-color: #ff5722; /* Primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.simplify-button:hover {
    background-color: #e64a19; /* Darker shade on hover */
}

.home-link {
    text-align: center; /* Center align the link */
    margin-top: 300px; /* Space above the link */
}

.link {
    font-size: 1.2rem; /* Font size for the link */
    color: #ff5722; /* Primary color for the link */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color change */
}

.link:hover {
    color: #e64a19; /* Darker shade on hover */
}